@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.first-title {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    position: absolute; 
    left: 38%;  
    bottom: 80%;
    padding: 2rem; 
    display: block;
} 

.Counter {
    display: none; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    position: absolute; 
    left: 39%;  
    bottom: 67%;
    padding: 2rem;   
}

.recipientContainer {
    background-color: #1E90FF; 
    padding: 4rem;
    width: 25%; 
    position: absolute; 
    left: 35%; 
    bottom: 57%; 
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} 

.recipientContainer > input {
    width: 13%; 
    position: relative; 
    text-align: center; 
    display: inline-block; 
    float: left; 
    margin-left: 3.9rem; 
    transition: 0.2s;
    
} 

.recipientContainer > input:hover {
    filter: blur(2px);
} 

.recipientContainer > input:focus {
    color:  #FFFAFA; 
    border: 2px solid #FFFAFA;
} 

#buttonCounterId {
    width: 30%; 
    padding: 0.1em 1.2em; 
    box-sizing: border-box; 
    text-decoration: none; 
    border-radius: 0.5rem;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: rgb(51, 102, 153); 
    border: 0;
    color: #FFFFFF;
    left: 30%;  
    transition: all 0.2s;
    bottom: 20%;  
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    position: relative; 
    display: block; 
    cursor: pointer;
}  

#buttonCounterId:hover {
    filter: brightness(1.2); 
}

.progressBarContainer {
    background-color: black; 
    border-radius: 13px; 
    padding: 3px; 
    height: 25px;
    width: 580px;
    margin: 20rem 31rem;
    position: relative; 
    display: none;
}

.progressBarContainer > div {
    background: linear-gradient(90deg, rgba(9,147,191,1) 0%, rgba(8,109,207,1) 42%, rgba(33,39,134,1) 100%);; 
    height: 100%;
    border-radius: 13px;  
    width: 0%; 
    transition: all 0.2s;
} 



.congratsText {
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px;
    font-weight: 500;
    position: absolute; 
    left: 30%;  
    bottom: 67%;
    padding: 2rem; 
    display: none;
}